<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
	<section id="plugin.video.tmdbtrailers">
		<category id="general" label="30000" help="">
			<group id="1" label="30001">
				<setting id="general.debug" type="boolean" label="30003" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="youtube" label="30004" help="">
			<group id="1" label="30005">
				<setting id="youtube.api.key"  type="string" label="30006" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30007</heading>
					</control>
				</setting>
				<setting id="youtube.api.clientid"  type="string" label="30008" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30009</heading>
					</control>
				</setting>
				<setting id="youtube.api.clientsecret"  type="string" label="30010" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30011</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="tmdb" label="30012" help="">
			<group id="1" label="30005">
				<setting id="tmdb.api.key"  type="string" label="30006" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30007</heading>
					</control>
				</setting>
				<setting id="tmdb.api.token"  type="string" label="30013" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>300014</heading>
					</control>
				</setting>
			</group>
			<group id="2" label="30015" help="">
				<setting id="tmdb.api.username"  type="string" label="30016" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30018</heading>
					</control>
				</setting>
				<setting id="tmdb.api.password"  type="string" label="30017" help="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30019</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
			<group id="3" label="30000" help="">
				<setting id="tmdb.lists.refresh" type="boolean" label="30020" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="4" label="30021">
				<setting id="tmdb.user.id" type="integer" label="30022" help="">
					<level>0</level>
					<default>0</default>
					<enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="integer">
						<heading></heading>
					</control>
				</setting>
				<setting id="tmdb.user.name"  type="string" label="30023" help="">
					<level>0</level>
					<default/>
					<enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
				<setting id="tmdb.user.defaultlanguage"  type="string" label="30024" help="">
					<level>0</level>
					<default/>
					<enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
				<setting id="tmdb.user.adultsearch" type="boolean" label="30025" help="">
					<level>0</level>
					<default>false</default>
					<enable>false</enable>
					<control type="toggle"/>
				</setting>
				<setting id="tmdb.user.avatar" type="string" label="30024" help="">
					<level>0</level>
					<default/>
					<enable>false</enable>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading></heading>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>